name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v3.0.2
    - uses: actions/cache@v3.0.2
      with:
        path: /home/runner/go
        key: v1-go-mod-${{ hashFiles('go.sum') }}
        restore-keys: v1-go-mod-
    - uses: winchci/actions-golang@v1
